<!DOCTYPE html>
<html>
<head>
    <title>Job Portal</title>
</head>
<body>

<h1>Available Jobs</h1>

<p>
    Logged in as {{ user.username }} |
    <a href="{% url 'logout' %}">Logout</a>
</p>

{% if user.profile.role == "recruiter" %}
    <p>
        <a href="{% url 'create_job' %}">➕ Create New Job</a>
    </p>
{% endif %}

<hr>

{% for job in jobs %}
    <h3>{{ job.title }}</h3>
    <p>Location: {{ job.location }}</p>
    <p>Salary: ₹{{ job.salary }}</p>

    {% if user.profile.role == "seeker" %}
        <a href="{% url 'apply_job' job.id %}">Apply</a>
    {% endif %}

    <hr>
{% endfor %}


</body>
</html>
